@mixin app-content-view {

    .content {
        // background: $v-panel-background-color;

        .viewheader {
            padding: $view-padding;
            border-bottom: valo-border($strength: 0.5);
        }

        /*        .viewheader {
                    padding: round($view-padding / 2);
                    width: 100%;
                    background-color: #f6f8fa ;
                    border-bottom: valo-border($strength: 0.5);
                    text-align: left;
                    white-space: normal;
                }*/

        /*        .toolbarFile {
                    //padding: $view-padding/2;
                    //width: 100%;
                    //background-color: #f6f8fa ;
                    //border-bottom: 1px solid #e9ebed;
                }*/

        .toolbar {
            padding: $view-padding / 2;
        }

        .viewbar {
            padding-left: $view-padding / 2;
            padding-right: $view-padding / 2;
        }

        .v-slot-gridView {
            overflow: auto;
        }


        .gridView {
            padding: $view-padding / 2;
            //overflow: visible;

            .mainPanel{
                padding: round($view-padding / 4.5);

                .frame {
                    cursor: pointer;
                    padding: round($view-padding / 3.5);

                    &:hover {
                        border-color: $v-focus-color;
                        background-color: #f5f5f5;
                    }

                    .labelName {
                        font-size: $v-font-size--small;
                        font-weight: 500;
                        //line-height: 1.2;
                        padding-left: 10px;

                        text-overflow: ellipsis;
/*                                                -o-text-overflow: ellipsis;
                                                -icab-text-overflow: ellipsis;
                                                -khtml-text-overflow: ellipsis;
                                                -moz-text-overflow: ellipsis;
                                                -webkit-text-overflow: ellipsis;*/

                        overflow: hidden;
                        white-space: nowrap;
                        //padding: 0 10px
                    }
                    .labelInfo {
                        font-size: $v-font-size--tiny;
                        //line-height: 1.2;
                        padding-left: 10px;
                        //padding: 0 10px
                    }

                }
            }

            @include width-range($max:600px) {
                .mainPanel {
                    width: 100% !important;
                    /*                    .labelName {
                                            width: $v-unit-size
                                        }*/
                }
            }

            @include width-range(601px, 1000px) {
                .mainPanel {
                    width: 50% !important;
                    /*                    .labelName {
                                            width: 220px;
                                        }*/
                }
            }

            @include width-range(1001px, 1920px) {
                .mainPanel {
                    width: 25% !important;
                    /*                    .labelName {
                                            width: $v-unit-size
                                        }*/
                }
            }

        }

        .listView {
            padding-top: round($view-padding / 3.5);
            padding-bottom: $view-padding / 2;
            padding-left: $view-padding / 2;
            padding-right: $view-padding / 2;
        }
    }

    .deleteBtn {
        width: 16px;
        height: 19px;
        color: #197de1;
        font-weight: 600;
        font-size: 18px;
        line-height: 1;
        text-align: center;
        cursor: default;
        &:hover {
            background: #e3f2fd;
        }
        &:focus {
            outline: none;
        }
        &:active {
            background: #ffffff;
        }
    }

    .attachedlayout {
        .deleteBtn {
            position: absolute;
            display: none;
        }
        &:hover {
            .deleteBtn {
                display: block;
            }
            outline: 1px solid #5198df;
        }
        cursor: pointer;
        position: relative;
        padding-right: 20px;
    }

    .address-editor {
        cursor: text;
        .v-textfield {
            border: 0px solid white;
            &:focus {
                @include box-shadow(none);
            }
        }
        /*        .v-button:focus:after {
                    border-color: inherit;
                    @include box-shadow(none);
                }
                .v-button-small {
                    margin-top: 2px;
                }*/

    }

    .v-widget.mytoken.tokenfield {
        .v-button-link {
            //background-color: #e0f7fa ;
            background-color: white;
            //border-radius: 2px;
            //height: 37px;
            //padding: 4px 7px;
            text-decoration: none;
            &:focus {
                //background-color: #e0f7fa ;
                background-color: white;
                //border-radius: 2px;
                //height: 23px;
                //padding: 4px 7px;
                text-decoration: none;
            }
        }
        .v-button-emphasize {
            background-color: #ec0c6d;
            &:focus {
                background-color: #ec0c6d;
            }
        }
        .v-button-link .v-button-caption {
            //color: #8c8c8c;
            color: #197de1;
            text-decoration: none;
        }
        .v-csslayout {
            div {
                float: left;
            }
            .v-button-link {
                margin: 0 1px 1px 0;
                height: 37px;
            }
        }
    }

    .tokentextfield .v-filterselect {
        background: #ddd none repeat scroll 0 0;
        border-radius: 4px;
        margin-bottom: 1px;
        .v-filterselect-input {
            background: white none repeat scroll 0 0;
            border: 1px solid white;
            box-shadow: 0 1px 0 white inset, 0 1px 0 rgba(255, 255, 255, 0.1);
            &:focus {
                //border-color: #197de1;
                box-shadow: none;
            }
        }
        .v-filterselect-button {
            display: none;
        }
    }

    .v-table-header {
        color: #434343;
        background: #fff;
        //font-weight: bold;
        //text-align: center;
    }

    //ESTILO PARA RESIZER EN HEADER
    .v-table-caption-container, .v-table-header-drag{
        border-left: 1px solid #f8f8f8;
    }

    .v-table, .v-table-table {
        background: #fff;
    }

    .v-table-row:hover, .v-table-row-odd:hover {
        background: #F6FAFD;
    }

    .v-table-cell-wrapper {
        user-select: none;
        -o-user-select:none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
    }

    .v-table-focus {
        outline: 1px solid #F6FAFD;
    }
    .v-table-compact .v-table-cell-content, .v-table-small .v-table-cell-content{
        height: 51.5px;
    }

    .v-table tr.v-selected.v-selected {
        color: #434343;
        background: #E8F3FA;
    }

    .v-table-cell-content-black{
        background: black;
        color: black;
    }


    .v-label-noselect {
        user-select: none;
        -o-user-select:none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
    }

    .v-menubar-btn-contextmenu {
        border: 1px solid #eee;
        border-radius: 0px;
        background: #fff;
        box-shadow: none;
        background-image: none;

        &:focus:after {
            border: 1px solid #eee;
            box-shadow: none;
            background-image: none;
        }
        > .v-menubar-menuitem-selected {
            border: 1px solid #eee;
            background: #f7f7f7;
            color:  #181818;
            box-shadow: none;
        }
        > .v-menubar-menuitem .v-icon {
            margin: 0px;
            cursor: inherit;
        }
        .v-menubar-submenu-indicator {
            display: none;
            + .v-menubar-menuitem-caption {
                &:after {
                    display: none;
                }
                &:empty:after {
                    display: none;
                }
            }
        }
    }

}
